<style type="text/css">  
    p {  
        color: #000;  
        font-size: 8.7em;  
        font-family: Helvetica, Arial;  
        padding-top: 0%;  
        margin-left: 25%;  
    }  
</style>  
<div id="timediv">  
    <p>{{allMessages}}</p>  
</div>  